doctype html
head
  title Simon
html
  body
    div.container
      div.row
        div.col(align="center")
          h1.title Simon Game
      div.row.no-gutters.justify-content-center
        div.col.simon_buttons#simon_button_zero(align="center")
          h3 zero
        div.col.simon_buttons#simon_button_one(align="center")
          h3 one
      div.row.no-gutters.justify-content-center
        div.col.simon_buttons#simon_button_two(align="center")
          h3 two
        div.col.simon_buttons#simon_button_three(align="center")
          h3 three
      div.row.justify-content-center
        div.col.score_board#current_score_label(align="center")
          h3 Score
        div.col.score_board#current_score(align="center")
          h3 0
        div.col.score_board#high_score_label(align="center")
          h3 High Score
        div.col.score_board#high_score(align="center")
          h3 0
      div.row.justify-content-center
        div.col-auto.score_board#start_stop(align="center")
          h3 Start/Stop
    footer
      | <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      | <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      | <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      | <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      link(href='index.css', rel='stylesheet')
      script(src='index.js', type='text/javascript')
